body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  background: #0ff25e;
}

.wrapper {
  height: 100%;
  width: 50%;
  background: #f55757;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid #262626;
}

.sliding {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  font-size: 8em;
  line-height: 220px;
  overflow: hidden;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(0, -50%);
  }
}
