* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c5;
}
span {
  position: relative;
  width: 80px;
  height: 80px;
  background: #ff4500;
  animation: beat 1.5s linear infinite;
}

span:before,
span::after {
  content: "";
  position: absolute;
  background: #ff4500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

span::before {
  transform: translateX(-50%);
}

span::after {
  transform: translateY(-50%);
}

@keyframes beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1);
  }
  30% {
    transform: rotate(45deg) scale(1.4);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  70% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
