* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #96663980;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 180px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(255,255,255,.5);
  background: url(image.png);
  background-clip: text;
  -webkit-background-clip:text; 
  animation: text 20s linear infinite;
}

@keyframes text {
  from { 
    background-position: 0 0;
  } to { 
    background-position: 100% 100%;
  }
}