* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
}

ul li {
  background: #3bed76;
  width: 200px;
  border: 1px solid #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

ul li:hover {
  background-color: #30a155;
}

ul ul {
  display: none;
}

ul li:hover > ul {
  display: block;
}

ul ul ul {
  margin-left: 200px;
  top: 0px;
  position: absolute;
}
