* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2E0D63;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 15px;
}

.card-3D {
  width: 320px;
  height: 320px;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.8rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 5s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
}

.card-back {
  background: #9664E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  font-size: 1.5rem;
  color: #5217B0;
}

.card-3D:hover .card {
  transform: rotateY(180deg);
}