* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d425c;
}

.btn {
  width: 260px;
  height: 100px;
  background: none;
  border: 5px solid;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #dbdb1a;
  font-size: 32px;
}

.btn::before,
.btn:after {
  content: "";
  background-color: #1d425c;
  width: 20px;
  height: 5px;
  position: absolute;
  transform: skew(35deg);
  transition: 0.4s linear;
}

.btn:after {
  bottom: -5px;
  right: 10%;
}

.btn:before {
  top: -5px;
  left: 10%;
}

.btn:hover::before {
  left: 75%;
}

.btn:hover::after {
  right: 75%;
}
