* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

div {
  display: flex;
  border-top: 5px solid #6485fa;
}

div span {
  display: block;
  width: 5px;
  height: 180px;
  background: #6485fa;
  margin: 0 18px;
  position: relative;
  transform-origin: top;
}

div span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6485fa;
  transform: translateX(-50%);
}

div span:first-child {
  animation: left 1.8s ease-in infinite;
}

div span:last-child {
  animation: right 1.8s ease-in infinite;
  animation-delay: 1s;
}

@keyframes left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
