* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #18191f;
}

ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 5;
}

div {
  height: 80px;
  width: 80px;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

input[type="checkbox"]:checked ~ div {
  color: #51aeeb;
  text-shadow: inset 0 0 15px #51aeeb, 0 0 25px #51aeeb;
  animation: neon 5s linear infinite;
}

@keyframes neon {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
