* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6f50fa;
}

.btn {
  width: 260px;
  height: 100px;
  background: none;
  border: 5px solid;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  font-size: 32px;
  color: #fff;
  overflow: hidden;
}

.btn:after {
  content: "✔️ Dia 08";
  background-color: #cb44fd;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 1.2s;
}

.btn:hover::after {
  transform: translateY(0);
}
