* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c5c5c5;
}

.wave {
  position: relative;
}

span {
  bottom: 0px;
  position: absolute;
  width: 10px;
  height: 5px;
  background: #fc37eb;
  animation: wave 1.5s infinite ease-in-out;
}

span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}

span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}

span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}

span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}

span:nth-child(6) {
  left: 55px;
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #b931e0;
  }
  25% {
    height: 40px;
    transform: translateY(20px);
    background: #5931e0;
  }

  50% {
    height: 5px;
    transform: translateY(0px);
    background: #3740fc;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #3740fc;
  }
}
