* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #ad6923;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.main .input {
  height: 40px;
  width: 100%;
  position: relative;
}

.main .input input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #000;
}

.main .input input:focus ~ label,
.main .input input:valid ~ label {
  transform: translateY(-20px);
  font-size: 16px;
  color: #fab064;
}

.main .input label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #000;
  pointer-events: none;
  transition: all 0.3s ease;
}

.main .input .animation {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.main .input .animation:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #fab064;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.main .input input:focus ~ .animation:before,
.main .input input:valid ~ .animation:before {
  transform: scaleX(1);
}
