* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

ul {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7438FA;
}

li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #55E09B;
  margin: 0 10px;
  animation: move 1.6s linear infinite;
}

li:nth-child(1) {
  animation-delay: 0;
}

li:nth-child(2) {
  animation-delay: -1.4s;
}

li:nth-child(3) {
  animation-delay: -1.2s;
}

li:nth-child(4) {
  animation-delay: -1.0s;
}

ul li:nth-child(5) {
  animation-delay: -0.8s;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

