* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fa210238;
}

.road {
  position: relative;
  width: 700px;
  height: 140px;
  background: #000;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(40deg);
}

.road::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, #fff 0%, #fff 70%, #000 70%, #000 100%);
  background-size: 120px;
  animation: road 1.4s linear infinite;
}

.road:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: #333;
  bottom: -30px;
  transform-origin: top;
  transform: rotateX(-30deg);
}

@keyframes road {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -120px;
  }
}
