* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #de8737;
}

.progress-bar {
  width: 500px;
  height: 35px;
  background: #111;
  border-radius: 20px;
  padding: 0px 10px;
  cursor: pointer;
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 25px;
  top: 5px;
  border-radius: 100px;
  background: #31b9fa;
  max-width: calc(100% - 20px);
}

.progress-bar:hover::before {
  animation: progress 6s ease-in;
}

@keyframes progress {
  0% {
    width: 10px;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
