* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e65;
}

span {
  color: #fff;
  text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8;
  animation: jump 1.4s ease-in-out infinite;
  font-size: 120px;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
    text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
      0 2px 5px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translateY(-15px);
    text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
      0 25px 5px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translateY(0px);
    text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
      0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

span:nth-child(1) {
  animation-delay: 0.1s;
}

span:nth-child(2) {
  animation-delay: 0.2s;
}

span:nth-child(3) {
  animation-delay: 0.3s;
  margin-right: 20px;
}

span:nth-child(4) {
  animation-delay: 0.4s;
}

span:nth-child(5) {
  animation-delay: 0.5s;
}
