* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #363636;
}

.flip-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 500px;
}

.flip-front,
.flip-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}

.flip-front {
  background: #4edb18;
  color: #fff;
}

.flip-container:hover .flip-front {
  transform: rotateY(180deg);
}

.flip-container .flip-back {
  background: #ff1001;
  transform: rotateY(180deg);
}

.flip-container:hover .flip-back {
  transform: rotateY(360deg);
}
