* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon i {
  color: #0274b3;
}

.icon::after {
  content: "LinkedIn";
  position: absolute;
  top: -45px;
  color: #fff;
  background: #0274b3;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
}
.icon::before {
  content: "";
  position: absolute;
  top: -18px;
  border-style: solid;
  border-color: #0274b3 transparent;
  border-width: 10px 10px 0 10px;
  opacity: 0;
}

.icon:hover::after,
.icon:hover::before {
  opacity: 1;
  animation: tooltip 2s;
}

@keyframes tooltip {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
