* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c5c5c5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 120px;
  height: 120px;
  background-color: #10e040;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div:before,
div:after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  bottom: -30px;
  right: -30px;
  border: 4px solid #10e040;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
}

div:after {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
